<!-- templates/posts/group_list.html --> 
{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
  <title>
    <h1>{{ group.title }}</h1>
    <p>{{ group.description }}</p>
  </title>
{% endblock %}

{% block content %}
  <div class="container py-5">
     <h1>Записи сообщества: {{ group.title }}</h1>
     <p>{{ group.description }}</p>
    {% for post in page_obj %}
      <article>
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
        <p>{{ post.text }}</p>
        <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a> 
      </article>
      {% include "posts/includes/all_group_posts.html" with post=post show_group_link=False %}
      {% if not forloop.last %}
        <hr>
      {% else %}
        {% include 'posts/includes/paginator.html' %}
      {% endif %}
    {% endfor %}
  </div>  
{% endblock %}